body {
    background-color:rgb( 166, 221, 228);
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
}
.header1 {
    background-color: rgb(177, 201 , 228); 
    padding:5vh;
    font-size:larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(120,62,147);
}
.header2 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    font-size: larger;
    padding:20px;

}
.login form {
    display:flex;
    justify-content: center;
    align-items: center;

}
.login input {
    margin-top: 30px;
}
/*
.sapologin {
    border-style:solid;
    border-radius: 10px;
    box-sizing:border-box;
}
Esse codigo incompleto foi uma tentativa de tornar a borda do sapo em um circulo
*/

.area-login {
    text-align: center;
    display:flex;
    height:40vh;
    align-items: center;
    justify-content: center;
}
.area-login form {
    display: table
    
}

.center-form {
    display:flex;
    justify-content: center;
}

.area-login label {
    display: table-cell;
}

.area-login input {
    display:table-cell;
}

.area-registrar {
    text-align: center;
}

.area-registrar form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.area-registrar input {
    display: block;
    margin-bottom: 10px;
}

.butoesMenu {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.butoesMenu button {
  display: block;
}
.butoesMenu2 {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.butoesMenu2 button {
    display: block;
}

body , h1 {
    margin: 0;

}


